@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    School's Name<br />
    Indonesia, ID 45344-2234<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:orianisihaloho@hotmail.com">orianisihaloho@hotmail.com</a><br />
   
</address>